<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Kanban Board</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/main.css">
</head>
<body>
<div class="container-fluid">
    {{#repositories}}
        <p><b>{{name}}</b></p>
        {{#milestones}}
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <p class="panel-title">
                        <a href="{{url}}">
                            {{milestone}}
                            <span style="float: right" class="glyphicon glyphicon-new-window"/>
                        </a>
                    </p>
                </div>
                <div class="panel-body small">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="list-group">
                                {{#queued}}
                                    <a href="{{url}}" class="list-group-item list-group-item-danger">
                                        <span class="glyphicon glyphicon-question-sign"></span>
                                        {{title}}
                                        <span style="float: right" class="glyphicon glyphicon-new-window"/></a>
                                {{/queued}}
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="list-group">
                                {{#active}}
                                    <a href="{{url}}"
                                       class="list-group-item {{#paused}}list-group-item-warning{{/paused}} {{^paused}}list-group-item-info{{/paused}}">
                                        <img class="img-rounded" src="{{assignee}}" width="16" height="16" border="0"/>&nbsp;
                                        {{#paused}}<em><small>{{/paused}}{{title}}{{#paused}}</small></em>{{/paused}}
                                        <span id="state" class="glyphicon"></span>
                                        <span style="float: right" class="glyphicon glyphicon-new-window"/>
                                    </a>
                                {{/active}}
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="list-group">
                                {{#completed}}
                                    <a href="{{url}}" class="list-group-item list-group-item-success">
                                        <img class="img-rounded" src="{{assignee}}" width="16" height="16" border="0"/>&nbsp;
                                        <s>{{title}}</s>
                                        <span style="float: right" class="glyphicon glyphicon-new-window"/>
                                    </a>
                                {{/completed}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer small">
                    {{#progress}}
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="{{percent}}" aria-valuemin="0"
                                 aria-valuemax="100" style="min-width: 2em; width: {{percent}}%;">{{percent}}%
                            </div>
                        </div>
                    {{/progress}}
                </div>
            </div>
        {{/milestones}}
    {{/repositories}}
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
</body>
</html>
