[class*="col-"] {
    padding-top: 0px;
    padding-bottom: 0px;
}
.nopadding {
    padding:0px;
    margin: 4px;
}
.progress {
    margin-bottom: 0 !important;
}
.list-group-item-warning #state:after {
    font-family:'Glyphicons Halflings';
    content:"\e073";
}
